body
{
    background-color: rgb(20, 28, 51);
}


img
{
    width:350px;
    height: 250px;
    margin-top: 10px;
   
}

.img1
{
    margin-left: 10px;
}

#itachi
{
    padding-top: 20px;
    color:red;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-left: 10px;
    font-size: 25px;
}

#joaquin
{
    color:rgb(0, 217, 255);
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-left: 20px;
    font-size: 25px;
}

#heath
{
    color:rgb(255, 0, 76);
    font-family:'Courier New', Courier, monospace;
    margin-top: 30px;
    font-size: 25px;
}

#miles
{
    color:rgb(148, 146, 146);
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    margin-left: 50px;
    font-size: 25px;
}

#sung
{
    color:rgb(93, 131, 238);
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin-bottom: 40px;
    font-size: 25px;
}